<ion-tabs class="tabs-icon-top tab-positive">
	<ion-tab title="Home" 	icon-on="icon ion-ios-home" icon-off="icon ion-ios-home-outline" ui-sref="tabs.home">
		<ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Search" icon-on="icon ion-ios-search" icon-off="icon ion-ios-search-outline" ui-sref="tabs.search">
		<ion-nav-view name="search-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="profile" icon-on="icon ion-ios-person" icon-off="icon ion-ios-person-outline" ui-sref="tabs.profile">
		<ion-nav-view name="settings-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Favorite" icon-on="icon ion-ios-star" icon-off="icon ion-ios-star-outline" ui-sref="tabs.favorite">
		<ion-nav-view name="favorite-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Groups" icon-on="icon ion-ios-cog" icon-off="icon ion-ios-cog-outline" ui-sref="tabs.groups">
		<ion-nav-view name="settings-tab"></ion-nav-view>
	</ion-tab>
</ion-tabs>